.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header,.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 20%;
}

.nav-list {
    position: relative;
    right: 0.75em;
    list-style-type: none;
    color: #07043B;
}

.nav-itm {
    margin-right: 2em;
}

.main-illustration,.secondary-illustration {
    width: 100vw;
}

.title,.txt,.title-second,.txt-second {
    color: #07043B;
    width: 75%;
    text-align: center;
    position: relative;
    left: 2em;
}

.title,.title-second {
    font-size: 24px;
    line-height: 36px;
}

.txt,.txt-second {
    font-size: 14px;
    line-height: 21px;
    left: 3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5    em;
}

form button {
    margin-top: 1em;
    background-color: #2F65F8;
    color: #fff;
    font-weight: bold;
}

form input, form button {
    width: 85vw;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
}

form button {
    width: 90vw;
}

form input {
    border: 1px solid #07043B;
    padding-left: 1em;
}

.see-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #3DA08F;
    width: 35%;
    border-spacing: 9em;
    position: relative;
    left: 7.5em;
    top: 2em;
}

.btn-fylo {
    font-size: 12px;
    background-color: transparent;
    border: none;
}

.quote {
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.quote-img {
    position: relative;
    right: 45vw;
}

.quote-txt {
    width: 90%;
    line-height: 18.1px;
    letter-spacing: 0.38px;
    color: #07043B;
}

.info {
    position: relative;
    top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.job-title {
    position: relative;
    bottom: 1.5em;
    left: 0.75em;
}

.name,.job-title {
    color: #07043B;
}

.testimonial {
    border-radius: 50%;
    width: 25%;
    position: relative;
    top: 1em;
}

.quoted {
    display: flex;
    align-items: center;
    justify-content: center;
}

.early {
    position: relative;
    top: 10em;
    background-color: #575988;
    color: #fff;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.early-title {
    font-size: 24px;
    line-height: 24px;
}

.early-txt {
    font-size: 16px;
    line-height: 21px;
    width: 75%;
    position: relative;
    left: 3em;
    margin-bottom: 1.5em;
}

#email-signup,#sign-start {
    width: 65%;
}

#sign-start {
    width: 70%;
}

.footer {
    padding-top: 2em;
    background-color: #07043B;
    color: #fff;
    width: 100vw;
    position: relative;
    top: 13vh;
}

.footer #footer-img {
    color: white;
    fill: white;
    stroke: white;
    position: relative;
    left: 2em;
    margin-bottom: 3em;
}

.contact-info,.footer-links-upper,.footer-links-lower  {
    list-style-type: none;
}

.phone {
    margin-bottom: 1.5em;
}

.email {
    margin-bottom: 3em;
}

.blog {
    padding-bottom: 5em;
}

.footer-links-upper li, .footer-links-lower li {
    margin-bottom: 2em;
}

.fa-brands {
    font-size: 2em;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 0.45em;
    margin-bottom: 1.5em;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 1440px) {
    .logo-img {
        position: relative;
        width: 60%;
        right: 29em;
        top: 1.5em;
    }
    .nav-itm {
        margin-right: 3em;
        width: max-content;
    }

    .nav-list {
        left: 28em;
        top: 1.5em;
    }

    .left {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-illustration {
        width: 40vw;
        position: relative;
        top: 2em;
        left: 15em;
    }

    #email-in,#start {
        width: 15vw;
    }

    #start {
        position: relative;
        bottom: 6px;
        left: 1em;
    }
    .outer form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 1em;
        left: 3em;
    }

    .outer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .secondary-illustration {
        position: relative;
        width: 35vw;
        right: 1em;
    }

    .title-second {
        font-size: 40px;
        width: 110%;
    }

    .txt-second {
        font-size: 16px;
        line-height: 24px;
        width: 78%;
        text-align: left;
    }

    .btn-fylo {
        color: #3DA08F;
        cursor: pointer;
    }

    .secondary {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-self: center;
    }

    .see-div {
        width: 25%;
        position: relative;
        left: -9em;
        top: -9em;
    }

    .txt-second {
        top: -1.5em;
        left: -0.45em;
    }

    .see-div {
        position: relative;
        top: -1em;
        left: -10em;
    }

    .left-second {
        position: relative;
        left: -13em;
    }

    .quote-img {
        right: 12vw;
    }

    .quote-txt {
        width: 55%;
        position: relative;
        right: 1em;
    }

    .testimonial {
        width: 15%;
    }

    .quoted {
        position: relative;
        right: 5em;
    }

    .early {
        width: 100vw;
    }

    .quote {
        left: -5em;
    }

    .early-title {
        font-size: 32px;
        line-height: 48px;
        text-align: left;
        position: relative;
        left: 1.3em;
    }

    .early-txt {
        font-size: 16px;
        line-height: 24px;
        width: 28%;
        text-align: left;
    }

    #email-signup, #sign-start {
        width: 33%;
    }

    #sign-start {
        width: 15%;
        position: relative;
        right: 10em;
    }

    .early form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 10em;
        left: 10em;
    }

    .footer-info,.footer-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact-info {
        position: relative;
        bottom: 5em;
    }

    .footer-links-upper {
        position: relative;
        top: 1em;
        right: 14em;
    }

    .footer-links-lower {
        position: relative;
        bottom: 2.5em;
    }

    .fa-brands {
        font-size: 1em;
        margin-right: 1em;
    }

    .social {
        position: relative;
        right: 6.5em;
        bottom: 5.5em;
    }

    svg {
        z-index: 5000;
        position: absolute;
        bottom: 0;
        fill: #fff;
    }
}