.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header,.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 20%;
}

.nav-list {
    position: relative;
    right: 0.75em;
    list-style-type: none;
    color: #07043B;
}

.nav-itm {
    margin-right: 2em;
}

.final  {
    width: 130%;
    margin-right: 0;
}

.main-illustration,.secondary-illustration {
    width: 100vw;
}

.title,.txt,.title-second,.txt-second {
    color: #07043B;
    width: 75%;
    text-align: center;
    position: relative;
    left: 2em;
}

.title,.title-second {
    font-size: 24px;
    line-height: 36px;
}

.txt,.txt-second {
    font-size: 14px;
    line-height: 21px;
    left: 3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5    em;
}

form button {
    margin-top: 1em;
    background-color: #2F65F8;
    color: #fff;
    font-weight: bold;
}

form input, form button {
    width: 85vw;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
}

form button {
    width: 90vw;
}

form input {
    border: 1px solid #07043B;
    padding-left: 1em;
}

.see-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #3DA08F;
    width: 35%;
    border-spacing: 9em;
    position: relative;
    left: 7.5em;
    top: 2em;
}

.btn-fylo {
    font-size: 12px;
    background-color: transparent;
    border: none;
}

.quote {
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.quote-img {
    position: relative;
    right: 45vw;
}

.quote-txt {
    width: 90%;
    line-height: 18.1px;
    letter-spacing: 0.38px;
    color: #07043B;
}

.info {
    position: relative;
    top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.job-title {
    position: relative;
    bottom: 1.5em;
    left: 0.75em;
}

.name,.job-title {
    color: #07043B;
}

.testimonial {
    border-radius: 50%;
    width: 25%;
    position: relative;
    top: 1em;
}

.quoted {
    display: flex;
    align-items: center;
    justify-content: center;
}

.early {
    position: relative;
    top: 10em;
    background-color: #575988;
    color: #fff;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.early-title {
    font-size: 24px;
    line-height: 24px;
}

.early-txt {
    font-size: 16px;
    line-height: 21px;
    width: 75%;
    position: relative;
    left: 3em;
    margin-bottom: 1.5em;
}

#email-signup,#sign-start {
    width: 65%;
}

#sign-start {
    width: 70%;
}

.footer {
    padding-top: 2em;
    background-color: #07043B;
    color: #fff;
    width: 100vw;
    position: relative;
    top: 13vh;
}

#footer-img {
    position: relative;
    left: 2em;
    margin-bottom: 3em;
}

.contact,.footer-links-upper,.footer-links-lower  {
    list-style-type: none;
}

.phone {
    margin-bottom: 1.5em;
}

.email {
    margin-bottom: 3em;
}

.blog {
    padding-bottom: 5em;
}

.footer-links-upper li, .footer-links-lower li {
    margin-bottom: 2em;
}